@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('embedded-opentype'),
         url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('woff2'),
         url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('woff'),
         url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('svg');
}

:root {
    --font: "Lexend";
    --font-color: #f1f3f4;

    --body-bgcolor: #202124;

    --header-bgcolor: #121316;
    --header-font-color: #f1f3f4bf;
    --header-hover-bgcolor: #2c2e36;

    --link-font-color: #3985e2;
    --link-hover-font-color: #70b1ff;
}

html {
    font-family: var(--font), Verdana, sans-serif;
    color: var(--font-color);
}
input, textarea, button {
    font-family: inherit;
}
body {
    background-color: var(--body-bgcolor);
    margin: 0;
    padding: 0;
}
a {
    color: var(--link-font-color);
}
a:hover {
    color: var(--link-hover-font-color);
}
header {
    background-color: var(--header-bgcolor);
    border-bottom: grey 1px solid;
}

.header-container {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    font-size: larger;
    max-width: 1500px;
    justify-content: space-between;
}
.header-container * {
    height: 64px;
    align-items: center;
    color: var(--header-font-color);
}
.home img {
    border-radius: 50%;
}
.main-nav ul {
    display: flex;
    list-style-type: none;
    width: 450px;
}
.main-nav li {
    flex: 1;
}
.main-nav li::after {
    content: "";
    display: block;
    width: 0;
    margin: auto;
    border-top: var(--font-color) 1px solid;
    transition: width 0.1s ease;
}
.main-nav li:hover::after {
    width: 100%;
}
.main-nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s ease;
}
.main-nav a:hover {
    color: var(--font-color);
    background-color: var(--header-hover-bgcolor);
}
.main-nav ul {
    margin: 0;
    padding: 0;
}
.theme-button-wrapper {
    display: flex;
    justify-content: center;
    flex: 0 0 64px;
}
.theme-button {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}
.theme-button img {
    height: 24px;
}
.theme-button:hover {
    background-color: var(--header-hover-bgcolor);
}