@import url(head.css);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
main p {
    margin-bottom: 0;
}

.entries {
    display: flex;
    gap: 1rem;
}
.entries article {
    width: 350px;
    height: 300px;
    border: grey 1px solid;
    border-radius: 5%;
    transition: box-shadow 0.1s ease;
}
.entries article:hover {
    box-shadow: 0 0 3px var(--font-color);
}