@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('embedded-opentype'),
         url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('woff2'),
         url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('woff'),
         url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('svg');
}

:root {
    --font: "Lexend";
    --font-color: #f1f3f4;

    --body-bgcolor: #202124;

    --header-bgcolor: #121316;
    --header-font-color: #f1f3f4bf;
    --header-hover-bgcolor: #2c2e36;
    --header-height: 64px;

    --link-font-color: #3985e2;
    --link-hover-font-color: #70b1ff;

    --theme-icon-size: 24px;
}

html {
    font-family: var(--font), Verdana, sans-serif;
    color: var(--font-color);
}
input, textarea, button {
    font-family: inherit;
}
body {
    background-color: var(--body-bgcolor);
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--header-bgcolor);
    border-bottom: grey 1px solid;
}
a {
    color: var(--link-font-color);
}
a:hover {
    color: var(--link-hover-font-color);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header-container {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    font-size: larger;
    max-width: 1500px;
}
.header-container * {
    display: flex;
    height: var(--header-height);
    align-items: center;
    color: var(--header-font-color);
}
.home img {
    border-radius: 50%;
}
.main-nav {
    margin: 0 auto;
}
.main-nav ul {
    list-style-type: none;
    width: 450px;
}
.main-nav li {
    flex: auto;
}
.main-nav a {
    flex: 1;
    justify-content: center;
    text-decoration: none;
}
.main-nav a:hover {
    color: var(--font-color);
    background-color: var(--header-hover-bgcolor);
    border-bottom: var(--font-color) 1px solid;
}
.main-nav ul, .theme-button {
    margin: 0;
    padding: 0;
}
.theme-button {
    background: none;
    border: none;
    cursor: pointer;
    height: max-content;
    margin: auto 0;
    border-radius: 50%;
}
.theme-button span {
    background: url(/img/moon.svg);
    background-size: var(--theme-icon-size);
    background-repeat: no-repeat;
    background-position: center;
    height: var(--theme-icon-size);
    width: var(--theme-icon-size);
    padding: 8px;
}
.theme-button:hover {
    background-color: var(--header-hover-bgcolor);
}
.featured {
    
}
.featured h1 {

}
[class$="-entries"] {
    display: flex;
    gap: 1rem;
}
[class$="-entries"] article {
    width: 350px;
    height: 300px;
    border: grey 1px solid;
    border-radius: 5%;
}
[class$="-entries"] article:hover {
    box-shadow: 0 0 3px white;
}