@import url(head.css);

.list-container {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    padding: 16px;
    max-width: 640px;
    min-height: 300px;
    gap: 15px;
    border-radius: 24px;
    background-color: rgb(19, 64, 116);
    box-shadow: 10px 10px rgb(19, 49, 92);
}

.list-container * {
    margin: 0;
    padding: 0;
}

.list-container h1 {
    text-align: center;
}

.list-container hr {
    width: 100%;
    margin: 0;
    padding: 0;
}

.list-container button {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.list-container textarea {
    width: 100%;
}

.input-area {
    display: flex;
    justify-content: space-between;
}

.input-area > * {
    border: 1px black solid;
    border-radius: 5px;
}

.input-area textarea {
    min-height: 2rem;
    resize: vertical;
    padding-left: 3px;
}

.input-area button {
    padding: 0 10px;
}

.input-area button:hover {
    background-color: lightgray;
}

.list > div {
    min-height: 150px;
}

.list ul {
    list-style: none;
}

.list li {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 12px;
    margin: 6px 0;
    word-break: break-word;
    white-space: pre-wrap;
    text-align: justify;
}

.list button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

.list button:last-of-type {
    margin-left: auto;
    background-color: crimson;
    border-radius: 50%;
    border: 1px crimson solid;
}

.list button:last-of-type:hover {
    background-color: salmon;
    border-color: salmon;
}

.list button:first-of-type {
    border: 1px gray solid;
    border-radius: 25%;
}

.list textarea {
    background: none;
    border: none;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    font-size: inherit;
    color: inherit;
    pointer-events: none;
}

.list .task-edit-on {
    background-color: rgb(8, 35, 65);
    border-bottom: 2px rgb(96, 150, 186) solid;
    pointer-events: auto;
}

.task-mover {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-mover img {
    cursor: pointer;
}

.incomplete-container {
    margin-bottom: 10px;
}

.noCheck-JS button:first-of-type {
    background-color: transparent;
}

.noCheck-JS button:first-of-type img {
    opacity: 0;
}

.noCheck-JS button:first-of-type:hover {
    background-color:darkgray;
    border-color: darkgray;
}

.yesCheck-JS button:first-of-type {
    background-color:slategray;
}

.yesCheck-JS button:first-of-type:hover {
    background-color: dimgray;
    border-color: dimgray;
}

.yesCheck-JS textarea {
    color: gray;
    text-decoration: line-through;
}